@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galano Grotesque";
  src: url("./assets/fonts/galanogrotesque-regular.otf");
}

body {
  margin: 0;
  font-family: "Galano Grotesque", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;

  /* Add custom */
  height: 18px;
  width: 15px;
  background: url("./assets/icons/cross.svg") no-repeat;
  cursor: pointer;
}
